<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bc99f8">  <td>20/06/25 22:38:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ComposerTest.startTestCase()[pri:0, instance:Specs.ComposerTest@56528192]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1360657223</td>   <td></td> </tr>
<tr bgcolor="bc99f8">  <td>20/06/25 22:39:20</td>   <td>47098</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ComposerTest.Tc_2TestTheNoOfSkus(java.lang.String, java.lang.String)[pri:0, instance:Specs.ComposerTest@56528192]">Tc_2TestTheNoOfSkus</td> 
  <td>main@1360657223</td>   <td></td> </tr>
<tr bgcolor="8cd97f">  <td>20/06/25 22:40:49</td>   <td>136352</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.evaluateStatus(org.testng.ITestResult)[pri:0, instance:Specs.ComposerTest@56528192]">&lt;&lt;evaluateStatus</td> 
<td>&nbsp;</td>  <td>main@1360657223</td>   <td></td> </tr>
<tr bgcolor="bc99f8">  <td>20/06/25 22:40:49</td>   <td>136355</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ComposerTest.Tc_3_4ToTestViewLargeImageWithDimension()[pri:0, instance:Specs.ComposerTest@56528192]">Tc_3_4ToTestViewLargeImageWithDimension</td> 
  <td>main@1360657223</td>   <td></td> </tr>
<tr bgcolor="8cd97f">  <td>20/06/25 22:40:58</td>   <td>144899</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.evaluateStatus(org.testng.ITestResult)[pri:0, instance:Specs.ComposerTest@56528192]">&lt;&lt;evaluateStatus</td> 
<td>&nbsp;</td>  <td>main@1360657223</td>   <td></td> </tr>
<tr bgcolor="8cd97f">  <td>20/06/25 22:40:58</td>   <td>144900</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:Specs.ComposerTest@56528192]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1360657223</td>   <td></td> </tr>
</table>
